.gallery-widget .main-image.enter-stage {
  -webkit-animation-name: enterFromRight;
}

.gallery-widget .main-image.exit-stage {
  -webkit-animation-name: exitToLeft;
}

.gallery-widget .main-image.enter-stage, 
.gallery-widget .main-image.exit-stage {
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
}

@-webkit-keyframes enterFromRight {
    from { left: 760px; }
    to { left: 0px; }
}

@-webkit-keyframes exitToLeft {
    from { left: 0px; }
    to { left: -760px; }
}


.gallery-widget .thumbnail.active {
  -webkit-animation-name: growBlur;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes growBlur {
    from { -webkit-box-shadow: 0px 0px 0px rgba(250,140,0,1); }
    to { -webkit-box-shadow: 0px 0px 15px rgba(250,140,0,1); }
}