.gallery-widget {
  height: 486px;
}

.gallery-widget img {
  display: none;
}

.gallery-widget .main-image-container,
.gallery-widget .main-image {
  width:708px;
  height: 486px;
}

.gallery-widget .main-image-container {
  position: relative;
  overflow: hidden;
}

.gallery-widget .main-image {
  position: absolute;
  top:0px;
  left:0px;
  width:708px;
  height: 478px;
  padding-top: 8px;
}

.gallery-widget .main-image .table-cell {
  width:708px;
  height: 478px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.gallery-widget .main-image.on-right {
  left: 740px;
}

.gallery-widget .main-image.on-left {
  left: -740px;
}

.gallery-widget .main-image img {
  display: inline-block;
  padding: 8px;
  border: 1px solid #999;
  border-radius: 8px;
  max-width: 690px;
  max-height: 460px;
}

.gallery-widget .thumbnail-scroll {
  padding-top: 8px;
  float:right;
  width:270px;
  height: 478px;
  overflow-y: auto;
  overflow-x: none;
  text-align: center;
}

.gallery-widget .thumbnail {
  margin-top:3px;
  margin-bottom:3px;
  padding: 4px;
  border: 1px solid #999;
  border-radius: 4px;
  cursor: pointer;
}

.gallery-widget .thumbnail.active {
  -webkit-box-shadow: 0px 0px 15px rgba(250,140,0,1);
}

.gallery-widget .thumbnail-scroll img {
  display: inline-block;
  max-width: 120px;
  max-height: 120px;
}